<div class="link_list">
    <div class="user_path">
        <%= link_to "User", admin_place_users_path %>
    </div>
    <div class="user_path">
        <%= link_to "Products", admin_place_products_path %>
    </div>
    <div class="user_path">
        <%= link_to "Reviews", admin_place_reviews_path %>
    </div>
    <div class="user_path">
        <%= link_to "Categories", admin_place_categories_path %>
    </div>
    <div class="user_path">
        <%= link_to "Tests", admin_place_tests_path %>
    </div>
</div>

