<div class="product_list">

    <div class="product_func">

        <%= form_tag products_path, method: :get do %>
            <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), prompt: "Все", class: "main_select"%>
            <%= submit_tag "Найти по категории", class: "but_categ"%>
        <% end %>

        <%= search_form_for @q do |f|%>
            <%= f.search_field :name_or_description_cont, class: "search_row"%>
            <%= f.submit "Поиск", class: "but_search" %>
        <% end %>

    </div>

    <ul class="ul_list_product">

        <% @product.each do |product| %>

            <li>
                <br/>
                <%= link_to product.name, product %><br/>
                <br/>
                <div> <%= label :desc, product.price%> <label> рублей</label></div>
            </li><br/>

        <% end %>

    </ul>
    <div class="pagin">
        <%= will_paginate @product, :previous_label => "Назад", :next_label => "Вперёд" %>
    </div>
</div>