<div class="sign_in_form">

  <h2>Забыли пароль? Не беда, мы вам поможем и отправим инструкции!</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "Введите свой email"%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div></br>

    <%= f.submit "Отправить", class: "btnForm" %>
  <% end %></br>

  <%= render "devise/shared/links" %>

</div>
